/Source/L5/L5Source/build/
/Source/Non Assessed Exercises Solutions/Ex 9 (Concurrency)/LabExercise10/nbproject/private/
/Source/Non Assessed Exercises Solutions/Ex 9 (Parsing Text File)/ParsingTextFilesExercise/build/
/Source/Non Assessed Exercises Solutions/Ex 9 (Parsing Text File)/ParsingTextFilesExercise/nbproject/private/
/Source/Non Assessed Exercises Solutions/Ex 10 (Concurrency)/LabExercise10/build/
/Source/Non Assessed Exercises Solutions/Ex 11 (Concurrency With Files)/LabExThree/build/
/Source/Non Assessed Exercises Solutions/Ex 11 (Concurrency With Files)/LabExThree/dist/
/Source/Non Assessed Exercises Solutions/Ex 11 (Concurrency With Files)/LabExThree/nbproject/private/
/Source/Non Assessed Exercises Solutions/Ex 11 (Concurrency With Files)/LabExercise11/nbproject/private/
/Source/Non Assessed Exercises Solutions/Ex 11 (Concurrency With Files)/LabExercise11/build/
/Source/Non Assessed Exercises Solutions/Ex 12 (Assignment Four 2018)/GroupAStarter/nbproject/private/
/Source/Non Assessed Exercises Solutions/Ex 13 (Client-Server BMI)/NetworkingLL1/build/
/Source/Lab Exercises Solutions/Lab Ex 1/Assignment1_Solution/build/
/Source/Lab Exercises Solutions/Lab Ex 4/Ex1/LabEx4/nbproject/private/
/Source/Lab Exercises Solutions/Lab Ex 5/Ex3/LabEx5/nbproject/private/
/Source/Lab Exercises Solutions/Lab Ex 5/LabEx5/nbproject/private/
/Source/Lab Exercises Solutions/Lab Ex 5/LabEx5/build/
/Source/Lab Exercises Solutions/Lab Ex 5/LabEx5/dist/
/Source/Lab Exercises Solutions/Lab Ex 4/LabEx4/build/
/Source/Lab Exercises Solutions/Lab Ex 4/LabEx4/dist/
/Source/L9 JDBC/L9Source/target/
/Source/Lab Exercises Solutions/Lab Ex 11/Lab Ex 2 Starter/Lab Ex Starter/LabEx_11_Starter/nbproject/private/
/Source/Lab Exercises Solutions/Lab Ex 11/Lab Ex 2 Starter/Lab Ex Starter/LabEx_11_Starter/build/
/Source/Lab Exercises Solutions/Lab Ex 11/Lab Ex 2 Starter/Lab Ex Starter/LabEx_11_Starter/dist/
/Source/Lab Exercises Solutions/Lab Ex 11/LabEx_11_Starter/dist/
/Source/Lab Exercises Solutions/Lab Ex 11/LabEx_11_Starter/build/
/Source/Lab Exercises Solutions/Lab Ex 11/LabEx_11_Solution/nbproject/private/
/Source/Lab Exercises Solutions/Lab Ex 11/LabEx_11_Solution/build/
/Source/Lab Exercises Solutions/Lab Ex 12/LAbEx12_Solution/nbproject/private/
/Source/Lab Exercises Solutions/Lab Ex 12/LAbEx12_Starter/build/
/Source/Lab Exercises Solutions/Lab Ex 12/LabEx12_Soln/build/
/Source/Lab Exercises Solutions/Lab Ex 13/LabEx_13_Starte/nbproject/private/
