/Source/L5/L5Source/build/
/Source/Non Assessed Exercises Solutions/Ex 9 (Concurrency)/LabExercise10/nbproject/private/
/Source/Non Assessed Exercises Solutions/Ex 9 (Parsing Text File)/ParsingTextFilesExercise/build/
/Source/Non Assessed Exercises Solutions/Ex 9 (Parsing Text File)/ParsingTextFilesExercise/nbproject/private/
/Source/Non Assessed Exercises Solutions/Ex 10 (Concurrency)/LabExercise10/build/